#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"
IPHONEOS_DEPLOYMENT_TARGET = 15.1
OTHER_LDFLAGS = $(inherited) -Wl,-u,_frb_pde_ffi_dispatcher_primary -Wl,-u,_frb_pde_ffi_dispatcher_sync -Wl,-u,_frb_dart_fn_deliver_output -Wl,-u,_frb_get_rust_content_hash -Wl,-u,_frb_init_frb_dart_api_dl -Wl,-u,_frb_free_wire_sync_rust2dart_dco -Wl,-u,_frb_free_wire_sync_rust2dart_sse -Wl,-u,_frb_create_shutdown_callback -Wl,-u,_frb_rust_vec_u8_new -Wl,-u,_frb_rust_vec_u8_resize -Wl,-u,_frb_rust_vec_u8_free -Wl,-u,_frb_dart_opaque_dart2rust_encode -Wl,-u,_frb_dart_opaque_rust2dart_decode -Wl,-u,_frb_dart_opaque_drop_thread_box_persistent_handle -Wl,-u,_store_dart_post_cobject
DEAD_CODE_STRIPPING = NO
